html {
  height: 100vh;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.banner-rec {
  background-image: linear-gradient(to right, #235377, #376f99 300px, #235377 600px);
  background-size: 600px 100%;
}

.banner-square {
  background-image: linear-gradient(to right, #235377, #376f99 150px, #235377 300px);
  background-size: 300px 100%;
}

.banner-rec, .banner-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-rec {
  height: 250px;
  width: 600px;
  position: relative;
}

.banner-square {
  height: 250px;
  width: 300px;
  position: relative;
}

.text-one, .text-two, .text-three {
  text-align: center;
  color: #ffff7d;
  position: absolute;
  font-family: 'Questrial', sans-serif;
}

.text-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#three-abso {
  right: 42px;
}

.money {
  font-size: 22px;
}

.banner-rec-text {
  font-size: 32px;
}

.banner-square-text {
  font-size: 20px;
}

.slogan {
  font-size: 16px;
}

.logo {
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
  margin: 10px 0px !important;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-symbol {
  font-size: 15px;
}

.btn-medium {
  color: #e3e3e3;
  font-size: 16px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.8;
  text-decoration: none;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.money {
  color: yellow;
  font-family: 'Questrial', sans-serif;
  position: absolute;
}

#dollar {
  top: 100px;
  left: 5px;
  font-size: 18px;
  color: green;
}

#euro {
  top: 170px;
  left: 5px;
  font-size: 17px;
}

#pound {
  top: 15px;
  left: 15px;
  font-size: 20px;
}

#dollar-square {
  top: 20px;
  left: 20px;
  font-size: 13px;
}

#euro-square {
  top: 20px;
  left: 115px;
  font-size: 15px;
}

#pound-square {
  top: 20px;
  right: 15px;
  font-size: 18px;
}

.stocks-div {
  position: absolute;
  left: 0px;
  height: 250px;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stocks-div-square {
  position: absolute;
  left: 0px;
  height: 250px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}







