html {
  height: 100vh;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.banner-rec, .banner-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.banner-rec {
  height: 250px;
  width: 600px;
}

.banner-square {
  height: 250px;
  width: 300px;
}

.text {
  text-align: center;
  color: yellow;
  position: absolute;
  font-family: 'Questrial', sans-serif;
}

#banner-square-text {
  font-size: 22px;
}

#banner-rec-text {
  font-size: 30px;
}
